version: "3.7"

services:
    nginx: 
        image: nginx:1.17
        ports:
            - "8000:8000"
        volumes:
            - ./nginx/conf:/etc/nginx/conf.d
            - ./nginx/uwsgi_params:/etc/nginx/uwsgi_params
            - ./static:/static
        networks:
            app_net:
                ipv4_address: 172.20.0.4
        depends_on:
            - python
    
    db:
        build: ./mysql
        ports:
            - "3306:3306"
        networks:
            app_net:
                ipv4_address: 172.20.0.3
        environment:
            MYSQL_ROOT_USER: root
            MYSQL_ROOT_PASSWORD: root
            TZ: "Asia/Tokyo"
        volumes:
            - django.db.volume:/var/lib/mysql
            - ./mysql/init.d:/docker-entrypoint-initdb.d
    
    python:
        build: ./python
        command: uwsgi --socket :8001 --module mysite.wsgi --logto /tmp/uwsgi.log
        volumes:
            - ./src:/code
            - ./static:/static
        networks:
            app_net:
                ipv4_address: 172.20.0.2
        expose:
            - "8001"
        depends_on:
            - db

networks:
  app_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/24

volumes:
    django.db.volume:
        name: django.db.volume


volumes:
    django.db.volume:
        name: django.db.volume
